@import url("https://fonts.googleapis.com/css?family=Mukta+Malar:400,700,800");






h1, h2, h3 {
  font-weight: 800;
}

.card-wrap {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  
  /*display: flex;
  align-items: center;
  overflow-x: scroll;
  padding-top: $padding;
  padding-bottom: $padding;*/
}
.card-wrap:focus, .card-wrap:active {
  outline: 0;
}

.flickity-viewport {
  height: 340px;
}

.card {
  width: 100%;
  max-width: 190px;
  min-width: 190px;
  border-radius: 0.6rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.04);
  position: relative;
  min-height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 1rem;
  
}
.card__overlay {
  border-radius: 0.6rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.12);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2));
}
.card__info {
  padding: 1rem 1.5rem;
  width: 100%;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  text-shadow: 1px 3px 5px rgba(24, 23, 23, 0.521);
}
.card__title {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: .5rem;
}

a.card {
  transition: all 350ms ease;
}
a.card:hover, a.card:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transition: all 350ms ease;
}
a.card:hover .card__overlay, a.card:focus .card__overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1));
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.12), 0 8px 20px rgba(0, 0, 0, 0.06);
  transition: all 350ms ease;
}
a.card:hover {
  cursor: -webkit-grab;
}
a.card:focus, a.card:active {
  cursor: -webkit-grabbing;
}

.overlay {
  position: absolute;
  top: 0;
  pointer-events: none;
  bottom: 0;
  right: 0;
  left: 0;
  background: transparent;
  background: linear-gradient(to right, white 1%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, white 99%);
  z-index: 100;
}

